.sitenav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitenav__list {
  @include reset-list;
  display: flex;
  align-items: center;
}

.sitenav__item {
  margin-right: 48px;


  &:last-child {
    margin-right: 0;
  }
}

.sitenav__link {
  text-decoration: none;
  color: #242A45;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5;

  &:hover {
    color: #FA5959;
  }
}

.sitenav__link--login {
  padding: 12px 32px 11px 34px;
  border: 2px solid transparent;
  background: #FA5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  color: #fff;

  &:hover {
    background-color: #fff;
    border: 2px solid #FA5959;
    color: #242A45;
  }
}

.sitenav__btn {
  display: none;
}

@media only screen and (max-width: 768px) {

  .sitenav__btn {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    width: 25px;
    height: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px 20px;
    position: relative;
    z-index: 999;
    padding: 15px;
  }

  .sitenav__btn--open {
    background-image: url("../img/hamburger-icon.svg");
  }

  .sitenav__btn--close {
    background-image: url("../img/site-toggler-close.svg");
  }

  .sitenav__list {
    display: none;
  }

 .site-header--open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 555;
  }

 .site-header--open .sitenav__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242A45;
    mix-blend-mode: normal;
    opacity: 0.95;
    backdrop-filter: blur(32.6194px);
    align-items: center;
    padding: 121px 20px 0 20px;
    animation: toggler-anime .4s ease forwards;
  }

 .site-header--open .sitenav__item {
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }

 .site-header--open .sitenav__link {
    display: block;
    color: #fff;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2.30769px;
    text-transform: uppercase;
    padding: 25px 0 24px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }

 .site-header--open .sitenav__link--login {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
  }
}

@keyframes toggler-anime {
  from{
    transform: translateX(100%);
  }

  to{
    transform: translateX(0);
  }
}